.main {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
	/*background-color: #f5e34736;*/
}


.area1, .area2, .area3, .area4 {
	text-align: center;
}

.area1 { grid-area: area1; color: #c08585; }
.area2 { grid-area: area2; }
.area3 { grid-area: area3; }
.area4 { grid-area: area4; margin-top: 15px; }
.area5 { grid-area: area5; margin-top: 5px; }


/* Article Summary */
.articleSummary {
	width: 100%;
	margin: 40px 0 180px;
	border: 1px solid #3d3d06;
	border-radius: 4px;
	padding: 10px;
	
	display: grid;
	grid-gap: 0.5rem;
	grid-template-areas:
		'area1 area1'
		'area4 area4'
		'area2 area3'
		'area5 area5';
}

@media only screen and (min-width: 500px) {
	.articleSummary {
		width: 85%;
	}
}


@media only screen and (min-width: 640px) {
	.articleSummary {
		width: 100%;
		grid-template-areas:
			'area1 area1 area1 area4 area4'
			'area5 area5 area5 area2 area3';
		
	}
}

@media only screen and (min-width: 750px) {
	.articleSummary {
		width: 90%;
	}
}

@media only screen and (min-width: 900px) {
	.articleSummary {
		width: 70%;
	}
}



/* Article Section */
.articleSection {
	background-color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 10px;
	width: 95%;
	text-align: center;
	margin-bottom: 100px;
}

.articleSection h1 {
	color: #493333;
	margin: 40px 0 50px;
	font-size: 2.3rem;
}

.articleSection h3 {
	margin: 110px 0px 0px;
	font-size: 2rem;
}

.articleSection h4 {
	font-size: 1.4rem;
	color: hsl(209deg 69% 36%);
	margin-top: 165px;
}

.articleSection h5 {
	font-size: 1.2rem;
	color: hsl(209deg 69% 36%);
}

.articleSection h6 {
	font-size: 1.1rem;
	text-align: left;
	margin-top: 180px;
}

.articleSection p {
	font-size: 1.2rem;
	margin: 50px 0px 65px;
	line-height: 1.8rem;
}

.articleSection img {
	margin: 45px 0px 45px;
	width: 80%;
}

.articleSection ol {
	width: 90%;
	position: relative;
	left: 20px;
}

.articleSection li {
	text-align: justify;
}

.articleSection ul, .articleSection ul p {
	margin: 10px 0px 10px;
	line-height: 1.8rem;
}

.articleSection pre {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 120px;
	padding: 40px;
	width: 85%;
	overflow-x: auto;
	text-align: left;
	font-weight: bold;
	font-size: 1.3rem;
	color: hsl(209deg 69% 36%);
	background-color: #f5e34736;
}
.articleSection code {
	
	
}


.articleSection strong {
	margin-top: 30px;
}

.articleSection a {
	color: #c08585;
}


@media only screen and (min-width: 750px) {
	.articleSection {
		width: 90%;
		padding: 15px;
	}
}

@media only screen and (min-width: 850px) {
	.articleSection {
		width: 85%;
		padding: 20px;
	}
}

@media only screen and (min-width: 950px) {
	.articleSection {
		width: 80%;
		padding: 20px;
	}
}


@media only screen and (min-width: 1050px) {
	.articleSection {
		width: 75%;
		padding: 20px;
	}
}


@media only screen and (min-width: 1150px) {
	.articleSection {
		width: 65%;
		padding: 30px;
	}
}


@media only screen and (min-width: 1280px) {
	.articleSection {
		width: 55%;
		padding: 30px;
	}
}



