.main {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #f5e34736;
	padding: 0 1rem;
}

.main h1 {
	margin-top: 60px;
}

.main h3 {
	text-align: center;
	margin: 20px 0 80px 0;
}

.image {
	margin-bottom: 100px;
}

.postsSection {
	width: 100%;
	margin-bottom: 250px;
}

@media only screen and (min-width: 700px) {
	.postsSection {
		width: 90%;
	}
}

@media only screen and (min-width: 1000px) {
	.postsSection {
		width: 70%;
		
	}
}

