/* FOOTER */
.footer { 
	color: black; 
	background-color: #f5e34770; /*#ffe5ca; #c7bf7a; #589a58; */
	font-size: 1.2rem; 
	/*padding: 10px; */
}

.footer p { 
	color: inherit; 
	font-weight: 800; 
	text-align: end; 
	font-size: 1.2rem; 
	padding: 0px 15px;
	/*margin-bottom: 5px; */
}

.footer a { 
	color: inherit; 
}



