.pageContainer {
	display: flex;
	flex-direction: column;
	/*height: 100vh;*/
	background-color: #f5e34736;
}

.upwardLink {
	margin: 0px auto 80px;
	display: flex;
	justify-content: center;
	
	/* TEST */
/*
	width: 50%;
*/
}

.upwardLink h5 {
	/*float: right;*/
	background-color: #f3ecec7a; /*#c085852b;*/
	padding: 8px 60px;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
}

.upwardLink h5:hover {
	color: white;
	background-color: #f6aeae; /*#c0858594;*/
	border: 1px solid transparent;
}




