.main {
	background-color: #f5e34752;
}

.navHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem;
}

.navHeader .jsIconContainer {
	color: #c08585;
	font-weight: bold;
	cursor: pointer;
}
.navHeader span {
	color: black;
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 2px 2px #f5e34796;
	padding-left: 1rem;
}

.navToggle {
	font-size: 1.5rem;
	color: #c08585;
	background: transparent;
	border-color: transparent;
	transition: all 0.3s linear;
	cursor: pointer;
}
.navToggle:hover {
	color: hsl(205, 86%, 17%);
	transform: rotate(90deg);
}

.links a {
	color: hsl(209, 34%, 30%);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: 0.1rem;
	padding: 0.5rem 1rem;
	transition: all 0.3s linear;	
	display: block;
}
.links a:hover {
	background: #f5e3470f;
	color: #c08585;
	font-weight: bold;
	padding-left: 1.5rem;
}
.disabled {
	cursor: not-allowed;
	color: rgb(179, 179, 179) !important;
}

.socialIcons {
	display: none;
}

.linksContainer {
	height: 0;
	overflow: hidden;
	transition: all 0.3s linear;
}

.showContainer {
	height: 11rem;
}



@media screen and (min-width: 820px) {
  .main {
    /*max-width: 1170px;*/
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .navHeader {
    padding: 0;
  }
	.navHeader span {
		/*padding: 0;*/
	}
  .navToggle {
    display: none;
  }
  .linksContainer {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
		transition: 0s;
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .socialIcons {
    display: flex;
  }
  .socialIcons a {
    margin: 0 0.5rem;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
  }
  .socialIcons a:hover {
    color: hsl(205, 90%, 76%);
  }
}


@media only screen and (min-width: 980px) {
	.main {
		/*padding-top: 0.8rem;
		padding-bottom: 0.8rem;*/
	}
	.navHeader span {
		padding-left: 1.5rem;
		/*font-size: 2.6rem;*/
	}
}


@media only screen and (min-width: 1040px) {
	.main {
		padding-top: 0.4rem;
		padding-bottom: 0.4rem;
		padding-left: 1.4rem;
		padding-right: 1.4rem; 
	}
	.navHeader span {
		padding-left: 1.8rem;
		font-size: 3.6rem;
	}
	.socialIcons {
		padding-right: 1.4rem;
	}
}




